.ace-dawn {
  --select-blue: rgba(39, 97, 255, 0.17);
  --select-blue-light: rgba(39, 97, 255, 0.06);
  background-color: #ffffff;
  color: #080808;
 
}
.ace-dawn .ace_gutter {
  background: #ffffff;
  border-right: 1px solid #3339;
  color: #3339;

}

.ace-dawn .ace_print-margin {
  width: 1px;
  background: #e8e8e8
}

.ace-dawn .ace_cursor {
  color: #000000
}

.ace-dawn .ace_marker-layer .ace_selection {
  background: var(--select-blue);
}

.ace-dawn.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px #F9F9F9;
}


.ace-dawn .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid rgba(75, 75, 126, 0.50);
}

.ace-dawn .ace_marker-layer .ace_active-line {
  background: var(--select-blue-light);
}

.ace-dawn .ace_gutter-active-line {
  background-color: var(--select-blue);
  color: #333;
  /* border-radius: 100px 0 0 100px; */
}

.ace-dawn .ace_marker-layer .ace_selected-word {
  border: 1px solid var(--select-blue);
}

.ace-dawn .ace_invisible {
  color: rgba(75, 75, 126, 0.50)
}

.ace-dawn .ace_keyword,
.ace-dawn .ace_meta {
  color: #c94900
}

.ace-dawn .ace_constant.ace_numeric {
  color: #1870d4
}

.ace-dawn .ace_constant,
.ace-dawn .ace_constant.ace_other {
  color: #a218ac
}

.ace-dawn .ace_list,
.ace-dawn .ace_markup.ace_list,
.ace-dawn .ace_support.ace_function {
  color: #693A17
}

.ace-dawn .ace_string {
  color: #375623
}

.ace-dawn .ace_comment {
  font-style: unset;
  color: #5A525F
}

.ace-dawn .ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNgYGBgYLh/5+x/AAizA4hxNNsZAAAAAElFTkSuQmCC) right repeat-y
}

.ace-dawn .ace_indent-guide-active {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAAZSURBVHjaYvj///9/hivKyv8BAAAA//8DACLqBhbvk+/eAAAAAElFTkSuQmCC") right repeat-y;
} 

.ace-dawn .ace_line .ace_fold {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 85.245 29.867'%3E%3Cg fill='%233339'%3E%3Crect x='25.032' y='9.797' width='8.703' height='10.274' rx='4.352' ry='4.352'/%3E%3Crect x='38.271' y='9.797' width='8.703' height='10.274' rx='4.352' ry='4.352'/%3E%3Crect x='51.509' y='9.797' width='8.703' height='10.274' rx='4.352' ry='4.352'/%3E%3Cpath d='M17.029,29.403L.815,16.615c-1.087-.857-1.087-2.505,0-3.362L17.029.464c1.404-1.108,3.467-.107,3.467,1.681v25.577c0,1.789-2.063,2.789-3.467,1.681Z'/%3E%3Cpath d='M68.216,29.403l16.214-12.788c1.087-.857,1.087-2.505,0-3.362L68.216.464c-1.404-1.108-3.467-.107-3.467,1.681v25.577c0,1.789,2.063,2.789,3.467,1.681Z'/%3E%3C/g%3E%3C/svg%3E");
  border: none;
  background-color: transparent;
  margin-left: 0.5em;
}
